In [1]:
# import libraries
import numpy as np 
import pandas as pd 
from sklearn.cluster import KMeans
import re
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Load in the train and test datasets
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

# Store our passenger ID for easy access
PassengerId = test['PassengerId']

train.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [3]:
full_data = [train, test]

# Some features of my own that I have added in
# Gives the length of the name
train['Name_length'] = train['Name'].apply(len)
test['Name_length'] = test['Name'].apply(len)
# Feature that tells whether a passenger had a cabin on the Titanic
train['Has_Cabin'] = train["Cabin"].apply(lambda x: 0 if type(x) == float else 1)
test['Has_Cabin'] = test["Cabin"].apply(lambda x: 0 if type(x) == float else 1)

# Feature engineering steps taken from Sina
# Create new feature FamilySize as a combination of SibSp and Parch
for dataset in full_data:
    dataset['FamilySize'] = dataset['SibSp'] + dataset['Parch'] + 1
# Create new feature IsAlone from FamilySize
for dataset in full_data:
    dataset['IsAlone'] = 0
    dataset.loc[dataset['FamilySize'] == 1, 'IsAlone'] = 1
# Remove all NULLS in the Embarked column
for dataset in full_data:
    dataset['Embarked'] = dataset['Embarked'].fillna('S')
# Remove all NULLS in the Fare column and create a new feature CategoricalFare
for dataset in full_data:
    dataset['Fare'] = dataset['Fare'].fillna(train['Fare'].median())
train['CategoricalFare'] = pd.qcut(train['Fare'], 4)
# Create a New feature CategoricalAge
for dataset in full_data:
    age_avg = dataset['Age'].mean()
    age_std = dataset['Age'].std()
    age_null_count = dataset['Age'].isnull().sum()
    age_null_random_list = np.random.randint(age_avg - age_std, age_avg + age_std, size=age_null_count)
    dataset['Age'][np.isnan(dataset['Age'])] = age_null_random_list
    dataset['Age'] = dataset['Age'].astype(int)
train['CategoricalAge'] = pd.cut(train['Age'], 5)
# Define function to extract titles from passenger names
def get_title(name):
    title_search = re.search(' ([A-Za-z]+)\.', name)
    # If the title exists, extract and return it.
    if title_search:
        return title_search.group(1)
    return ""
# Create a new feature Title, containing the titles of passenger names
for dataset in full_data:
    dataset['Title'] = dataset['Name'].apply(get_title)
# Group all non-common titles into one single grouping "Rare"
for dataset in full_data:
    dataset['Title'] = dataset['Title'].replace(['Lady', 'Countess','Capt', 'Col','Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')

    dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')

for dataset in full_data:
    # Mapping Sex
    dataset['Sex'] = dataset['Sex'].map( {'female': 0, 'male': 1} ).astype(int)
    
    # Mapping titles
    title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5}
    dataset['Title'] = dataset['Title'].map(title_mapping)
    dataset['Title'] = dataset['Title'].fillna(0)
    
    # Mapping Embarked
    dataset['Embarked'] = dataset['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2} ).astype(int)
    
    # Mapping Fare
    dataset.loc[ dataset['Fare'] <= 7.91, 'Fare'] 						        = 0
    dataset.loc[(dataset['Fare'] > 7.91) & (dataset['Fare'] <= 14.454), 'Fare'] = 1
    dataset.loc[(dataset['Fare'] > 14.454) & (dataset['Fare'] <= 31), 'Fare']   = 2
    dataset.loc[ dataset['Fare'] > 31, 'Fare'] 							        = 3
    dataset['Fare'] = dataset['Fare'].astype(int)
    
    # Mapping Age
    dataset.loc[ dataset['Age'] <= 16, 'Age'] 					       = 0
    dataset.loc[(dataset['Age'] > 16) & (dataset['Age'] <= 32), 'Age'] = 1
    dataset.loc[(dataset['Age'] > 32) & (dataset['Age'] <= 48), 'Age'] = 2
    dataset.loc[(dataset['Age'] > 48) & (dataset['Age'] <= 64), 'Age'] = 3
    dataset.loc[ dataset['Age'] > 64, 'Age'] = 4 ;

In [4]:
print(train.info())
print(train.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 19 columns):
PassengerId        891 non-null int64
Survived           891 non-null int64
Pclass             891 non-null int64
Name               891 non-null object
Sex                891 non-null int64
Age                891 non-null int64
SibSp              891 non-null int64
Parch              891 non-null int64
Ticket             891 non-null object
Fare               891 non-null int64
Cabin              204 non-null object
Embarked           891 non-null int64
Name_length        891 non-null int64
Has_Cabin          891 non-null int64
FamilySize         891 non-null int64
IsAlone            891 non-null int64
CategoricalFare    891 non-null category
CategoricalAge     891 non-null category
Title              891 non-null int64
dtypes: category(2), int64(14), object(3)
memory usage: 120.2+ KB
None
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name  Sex  Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris    1    1      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...    0    2      1      0
2                             Heikkinen, Miss. Laina    0    1      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)    0    2      1      0
4                           Allen, Mr. William Henry    1    2      0      0

             Ticket  Fare Cabin  Embarked  Name_length  Has_Cabin  FamilySize  \
0         A/5 21171     0   NaN         0           23          0           2
1          PC 17599     3   C85         1           51          1           2
2  STON/O2. 3101282     1   NaN         0           22          0           1
3            113803     3  C123         0           44          1           2
4            373450     1   NaN         0           24          0           1

   IsAlone CategoricalFare CategoricalAge  Title
0        0       [0, 7.91]       (16, 32]      1
1        0   (31, 512.329]       (32, 48]      3
2        1  (7.91, 14.454]       (16, 32]      2
3        0   (31, 512.329]       (32, 48]      3
4        1  (7.91, 14.454]       (32, 48]      1

In [5]:
# Feature selection
drop_elements = ['PassengerId', 'Name', 'Ticket', 'Cabin', 'SibSp']
train = train.drop(drop_elements, axis = 1)
train = train.drop(['CategoricalAge', 'CategoricalFare'], axis = 1)
test  = test.drop(drop_elements, axis = 1)

In [6]:
train.head(3)

,Survived,Pclass,Sex,Age,Parch,Fare,Embarked,Name_length,Has_Cabin,FamilySize,IsAlone,Title
0,0,3,1,1,0,0,0,23,0,2,0,1
1,1,1,0,2,0,3,1,51,1,2,0,3
2,1,3,0,1,0,1,0,22,0,1,1,2

In [7]:
# Create Numpy arrays of train, test and target ( Survived) dataframes to feed into our models
y = train['Survived'].ravel()
train = train.drop(['Survived'], axis=1)
X = train.values # Creates an array of the train data
X_pred = test.values # Creats an array of the test data

In [8]:
scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)
X_pred_scaled = scaler.transform(X_pred)

In [9]:
print("Shape X_scaled: {0}. Shape y: {1}. Shape X_pred_scaled : {2}"\
      .format(X_scaled.shape, y.shape, X_pred_scaled.shape))
print("X_scaled[:10]: {0}. y[:10]:{1}. X_pred_scaled[:10]:{2}" \
    .format(X_scaled[:10], y[:10], X_pred_scaled[:10]))

Shape X_scaled: (891, 11). Shape y: (891,). Shape X_pred_scaled : (418, 11)
X_scaled[:10]: [[ 1.          1.          0.25        0.          0.          0.
   0.15714286  0.          0.1         0.          0.        ]
 [ 0.          0.          0.5         0.          1.          0.5
   0.55714286  1.          0.1         0.          0.5       ]
 [ 1.          0.          0.25        0.          0.33333333  0.
   0.14285714  0.          0.          1.          0.25      ]
 [ 0.          0.          0.5         0.          1.          0.
   0.45714286  1.          0.1         0.          0.5       ]
 [ 1.          1.          0.5         0.          0.33333333  0.
   0.17142857  0.          0.          1.          0.        ]
 [ 1.          1.          0.5         0.          0.33333333  1.
   0.05714286  0.          0.          1.          0.        ]
 [ 0.          1.          0.75        0.          1.          0.
   0.15714286  1.          0.          1.          0.        ]
 [ 1.          1.          0.          0.16666667  0.66666667  0.
   0.25714286  0.          0.4         0.          0.75      ]
 [ 1.          0.          0.25        0.33333333  0.33333333  0.
   0.52857143  0.          0.2         0.          0.5       ]
 [ 0.5         0.          0.          0.          0.66666667  0.5
   0.32857143  0.          0.1         0.          0.5       ]]. y[:10]:[0 1 1 1 0 0 0 0 1 1]. X_pred_scaled[:10]:[[ 1.          1.          0.5         0.          0.          1.
   0.05714286  0.          0.          1.          0.        ]
 [ 1.          0.          0.5         0.          0.          0.
   0.28571429  0.          0.1         0.          0.5       ]
 [ 0.5         1.          0.75        0.          0.33333333  1.
   0.18571429  0.          0.          1.          0.        ]
 [ 1.          1.          0.25        0.          0.33333333  0.
   0.05714286  0.          0.          1.          0.        ]
 [ 1.          0.          0.25        0.16666667  0.33333333  0.
   0.45714286  0.          0.2         0.          0.5       ]
 [ 1.          1.          0.          0.          0.33333333  0.          0.2
   0.          0.          1.          0.        ]
 [ 1.          0.          0.25        0.          0.          1.
   0.11428571  0.          0.          1.          0.25      ]
 [ 0.5         1.          0.25        0.16666667  0.66666667  0.
   0.22857143  0.          0.2         0.          0.        ]
 [ 1.          0.          0.25        0.          0.          0.5
   0.41428571  0.          0.          1.          0.5       ]
 [ 1.          1.          0.25        0.          0.66666667  0.
   0.15714286  0.          0.2         0.          0.        ]]

In [10]:
param_grid = {'n_estimators': [n for n in range(10, 110, 10)],
              'max_features': [f for f in range(2, 12)]}
print("Parameter grid:\n{}".format(param_grid))
grid_search = GridSearchCV(RandomForestClassifier(random_state=42, n_jobs=-1), param_grid, cv=5)
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, random_state=21)
grid_search.fit(X_train, y_train)
print("Test set score: {:.5f}".format(grid_search.score(X_test, y_test)))
print("Best parameters: {}".format(grid_search.best_params_))
print("Best cross-validation score: {:.5f}".format(grid_search.best_score_))
print("Best estimator:\n{}".format(grid_search.best_estimator_))

Parameter grid:
{'n_estimators': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100], 'max_features': [2, 3, 4, 5, 6, 7, 8, 9, 10, 11]}
Test set score: 0.82063
Best parameters: {'max_features': 5, 'n_estimators': 30}
Best cross-validation score: 0.83533
Best estimator:
RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features=5, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=30, n_jobs=-1,
            oob_score=False, random_state=42, verbose=0, warm_start=False)

In [11]:
forest = grid_search.best_estimator_
forest.fit(X_train, y_train)
print("Accuracy on training set: {:.5f}".format(forest.score(X_train, y_train)))
print("Accuracy on test set: {:.5f}".format(forest.score(X_test, y_test)))

Accuracy on training set: 0.96407
Accuracy on test set: 0.82063

In [12]:
kfold = KFold(n_splits=5)
scores = cross_val_score(forest, X, y, cv=kfold)
print("Cross-validation scores: {}".format(scores))
print("Average cross-validation score: {:.5f}".format(scores.mean()))

Cross-validation scores: [ 0.77653631  0.80337079  0.80898876  0.78089888  0.84269663]
Average cross-validation score: 0.80250

In [15]:
################ To write the results in file ####################
submission = pd.read_csv('gender_submission.csv')
submission.iloc[:, 1] = forest.predict(X_pred_scaled)
submission.to_csv('random_forest_clf_titanic_subm.csv', index=False)